.contenedor{
    display: flex;
    justify-content: stretch;
    height: 100vh;
}

.lateral{
    padding:0.5rem;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    gap: 2rem;
}

.principal{
    display: flex;
    flex-grow: 5;
    background-color: blue;
    justify-content: center;
    align-items: center;
}

@media (max-width: 640px){
    .contenedor{
        flex-direction: column;
    }
    .lateral{
        order: 2;
        flex-direction: row;
        justify-content:left;
    }
}